*.log
.env
.env.integration
.env.installing
composer.phar
.DS_Store
Thumbs.db
/.idea
/.vscode
/vendor
/.settings
/.buildpath
/.project
/runtime/*
!/runtime/.gitignore
/public/uploads/*
!/public/uploads/.gitignore
/docker/data/
/legacy/Runtime/Cache/
/legacy/Runtime/Logs/
/legacy/Runtime/Temp/
/legacy/
/view/qinxin/
/view/qingxin/
/public/qinxin/
/public/qingxin/
/public/static/qinxin/
/public/static/qingxin/
